# Flask & Server
Flask
flask-cors
gunicorn
Werkzeug
itsdangerous
Jinja2
click

# MongoDB
Flask-PyMongo
pymongo
dnspython

# Deep Learning & Image Processing
deepface==0.0.93
opencv-contrib-python-headless
opencv-python-headless
mtcnn==1.0.0
retina-face==0.0.17
tensorflow
tf_keras
keras
torch
numpy
scipy
scikit-learn

# Cloudinary
cloudinary

# Utilities
requests
Pillow
tqdm
python-dotenv
protobuf
h5py

# Optional / Video Processing
imageio
imageio-ffmpeg
ffmpeg-python
gunicorn