# Flask & Server
Flask
flask-cors
gunicorn
Werkzeug
itsdangerous
Jinja2
click

# MongoDB
Flask-PyMongo
pymongo
dnspython

# Deep Learning & Image Processing
deepface
retina-face
tensorflow
tf_keras
keras
opencv-contrib-python
opencv-python
mtcnn
torch
numpy
scipy
scikit-learn

# Cloudinary
cloudinary

# Utilities
requests
Pillow
tqdm
python-dotenv
protobuf
h5py

# Optional
ffmpeg
imageio
imageio-ffmpeg