# Flask & Server
Flask
flask-cors
gunicorn
Werkzeug
itsdangerous
Jinja2
click

# MongoDB
Flask-PyMongo
pymongo
dnspython

# Deep Learning & Image Processing
deepface==0.0.93
retina-face
tensorflow==2.16.1
tf_keras
keras==3.0.4
opencv-contrib-python
opencv-python
mtcnn
torch
numpy
scipy
scikit-learn

# Cloudinary
cloudinary

# Utilities
requests
Pillow
tqdm
python-dotenv
protobuf
h5py

# Optional
ffmpeg
imageio
imageio-ffmpeg