.happy-bg {
  background: linear-gradient(135deg, #fff9c4, #ffe082); /*Light Yellow to Soft Orange*/
}

.sad-bg {
  background: linear-gradient(135deg, #bbdefb, #90caf9); /*Light Blue to Mid Blue*/
}

.angry-bg {
  background: linear-gradient(135deg, #ffcdd2, #ef9a9a); /*Light Red to Deeper Red*/
}

.default-bg {
 background: linear-gradient(to bottom right, #c3dafe, #e9d5ff);
}


/* Emoji styling */
.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.emoji img {
  width: 120px;           
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.emoji img:hover {
  transform: scale(1.1);
}
