absl-py==2.3.1
astunparse==1.6.3
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comtypes==1.4.11
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
deepface==0.0.93
dnspython==2.7.0
facenet-pytorch==2.6.0
fer==22.5.1
ffmpeg==1.4
filelock==3.18.0
fire==0.7.0
Flask==3.1.1
flask-cors==6.0.1
Flask-PyMongo==3.0.1
flatbuffers==25.2.10
fonttools==4.58.5
fsspec==2025.7.0
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.73.1
gunicorn==23.0.0
h5py==3.14.0
huggingface-hub==0.34.3
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
keras==3.10.0
kiwisolver==1.4.8
libclang==18.1.1
lz4==4.4.4
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
ml_dtypes==0.5.1
moviepy==2.2.1
mpmath==1.3.0
mtcnn==1.0.0
namex==0.1.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.3.1
pillow==10.2.0
proglog==0.1.12
protobuf==5.29.5
pyarrow==20.0.0
pygame==2.6.1
Pygments==2.19.2
pyjokes==0.8.3
pylance==0.31.1
pymongo==4.13.2
pyparsing==3.2.3
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pyttsx3==2.99
pytz==2025.2
pywin32==311
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.4
retina-face==0.0.17
rich==14.0.0
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
soupsieve==2.7
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
tf_keras==2.19.0
threadpoolctl==3.6.0
tokenizers==0.21.4
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
torchvision==0.23.0+cpu
tqdm==4.67.1
transformers==4.54.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
wrapt==1.17.2
